{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{ object.name }}{% if object.active_flag %} {% if object.pronouns %}&nbsp;({{ object.pronouns }}){% endif %} (active){% endif %}{% endblock title %}

{% block content %}
<div class="container character">
    Player: <a href="{% url 'players:player_detail' pk=object.player.pk %}">{{ object.player }}</a>
    <div class="no-print">
        <h2>{{ object.name }}{% if object.pronouns %}&nbsp;({{ object.pronouns }}){% endif %}</h2>
        {% if object.active_flag %}<span class="no-print">(active)</span>{% endif %}
    </div> 
    {% include "characters/includes/character_detail_inner.html" with object=object %}
    {% if perms.players.change_any_player %}
        <div class="character-body">
            <h2>Private Staff Notes:</h2>
            {{ object.staff_notes_hidden }}
            <h2>Log:</h2>
            {% include "characters/includes/character_log.html" with character=object %}
        </div>
    {% endif %}
<form action="" method="post">{% csrf_token %}
    <table class="data">
        {{ object.history }}
    </table>
</form>
</div>
{% endblock content %}