{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{ object.name }}{% if object.active_flag %} {% if object.pronouns %}&nbsp;({{ object.pronouns }}){% endif %} (active){% endif %}{% endblock title %}

{% block content %}
<div class="container character">
    Player: <a href="{% url 'players:player_detail' pk=object.player.pk %}">{{ object.player }}</a>
    <div class="no-print">
        <h2>{{ object.name }}{% if object.pronouns %}&nbsp;({{ object.pronouns }}){% endif %}</h2>
        {% if object.active_flag %}<span class="no-print">(active)</span>{% endif %}
    </div> 
    {% include "characters/includes/character_detail_inner.html" with object=object %}
    {% if perms.players.change_any_player %}
        <div class="character-body">
            <h2>Private Staff Notes:</h2>
            {{ object.staff_notes_hidden }} 
        </div>
        <div class="character-body">
            <h2>Character Log:</h2>
            <ul>
            {% for log in character_log %}
                <li>{{ log }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
        </div>
    {% endif %}

</div>
    
{% endblock content %}