{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table class="data">
        {{ form.as_table }}
        {% if not perms.players.view_any_player and object.id %}
       		<tr>
				<th><label>Race:</label></th>
				<td>{{ object.race }}</td>
			</tr>       		
			<tr>
				<th><label>Background:</label></th>
				<td>{{ object.background }}</td>
			</tr>
       	{% endif %}
        <tr>
            <td colspan="2" class="text-right">
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
</form>
{% endblock content %}