{% extends "base.html" %}
{% load cms_tags utils %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}
Player: {{ object.player }}
<h1>Pick skills for {{ object.name }}{% if object.active_flag %} (active){% endif %}</h1>
<form id="charcterskill_form" action="" method="post">{% csrf_token %}
    {% include "characters/includes/character_stats.html" with object=object %}
    <h2>Available Character Points: <span id="character_point_display">{{ object.cp_available }}</span></h2>
    <div class="flex-container">
    {% for header in skills %}
    {% with skill_hash|dict_key:header.id as header_costs %}
    <div class="header-group group">
        <h2 class="header-label"><a href="{% url "skills:header_detail" pk=header.id %}">{{ header.name }}</a>{% if not header_costs.purchased and not header.open_flag %}&nbsp;{% if 'cost' in header_costs %}({{ header_costs.cost }} CPs){% endif %}&nbsp;<a href="{% url "characters:header_add" %}" class="add-header" data-header-id="{{ header.id }}">add&nbsp;header</a>{% endif %}</h2>
        {% if header_costs.purchased or header.open_flag %}
            {% include "characters/includes/character_skill_update_item.html" with header_skills=header.skills.all %}
        {% endif %}
    </div>
    {% endwith %}
    {% endfor %}
    </div>
    {% if dabbled_skills %}
        <h1>Dabble</h1>
        <div class="header-group group">
            {% include "characters/includes/character_skill_update_item.html" with header_skills=dabbled_skills header_costs=skill_hash.dabble %}
        </div>
    {% endif %}
    {% if granted_skills %}
    <h1>Grants</h1>
    {% for skill in granted_skills %}
        <h2 class="header-label"><a href="{% url "skills:header_detail" pk=skill.header.id %}">{{ skill.header }}</a>:</h2> 
        {% include "characters/includes/character_skill_item.html" with skill=skill.skill %}</br>
    {% endfor %}
    {% endif %}
        <tr>
            <td colspan="2" class="text-right">
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
</form>
{% endblock content %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">

        var updateSkill = (eventTarget, character_id) => {
            // get the information
            const submit_url = $(eventTarget).attr('href')
            const skill_id = $(eventTarget).data('skill-id')
            const header_id = $(eventTarget).data('header-id')
            const vector = $(eventTarget).data('skill-vector')
            const original_purchased = $(eventTarget).data('original-purchased')
            // get the current cp:
            const $cp_available_display = $('#character_point_display');
            const cp_available = parseInt($cp_available_display.html());
            const $purchased_display = $(eventTarget).siblings('#' + header_id + "_" + skill_id + "_display");
            const purchased = parseInt($purchased_display.html());
            if (purchased + vector >= original_purchased) {
                // update the skill points for a character
                $.post(submit_url, { 
                    skill_id: skill_id,
                    header_id: header_id,
                    character_id: character_id,
                    vector: vector,
                    cp_available: cp_available,
                 })
                .done((data) => {
                    console.log(data);
                    // We care getting the change in points back, so update the available points
                    $cp_available_display.html(cp_available + data.success);
                    $purchased_display.html(purchased + vector);
                    // see if we need to turn on or off the reduce button
                    const $reduce = $purchased_display.siblings('.update-skill[data-skill-vector="-1"]');
                    if (purchased + vector <= original_purchased) {
                        $reduce.addClass('invisible');
                    } else {
                        $reduce.removeClass('invisible');
                    }
                })
                .fail((data) => {
                    showError("Error Adding Skill", data.responseJSON.error);
                    console.log(data);
                });
            }

        };
        var updateInputSkill = (submit_url, skill_id, header_id, character_id, original_purchased) => {
            // get the current cp:
            const $cp_available_display = $('#character_point_display');
            const cp_available = parseInt($cp_available_display.html());
            const $checkbox = $('#id_header_' + header_id + "_skill_" + skill_id);
            // this is stuck this way because of this https://bugs.jquery.com/ticket/3827
            const checkbox_checked = $checkbox.is(':checked') ? false : true
            const purchased = checkbox_checked ? 1 : 0;
            const vector = checkbox_checked ? -1 : 1;
            if (purchased + vector >= original_purchased) {
                // update the skill points for a character
                $.post(submit_url, { 
                    skill_id: skill_id,
                    header_id: header_id,
                    character_id: character_id,
                    vector: vector,
                    cp_available: cp_available,
                 })
                .done((data) => {
                    // We care getting the change in points back, so update the available points
                    $cp_available_display.html(cp_available + data.success);
                    $checkbox.prop('checked', (vector < 0 ? false : true));
                })
                .fail((data) => {
                    showError("Error Adding Skill", data.responseJSON.error);
                    console.log(data);
                });
            }

        };
        $('.add-header').click((event) => {
            event.preventDefault();
            let header_id = $(event.currentTarget).data('header-id');
            let character_id = {{ object.id }};
            let submit_url = $(event.currentTarget).attr('href');
            let $header_group = $(event.currentTarget).parent().parent();
            // get the current cp:
            let cp_available = parseInt($('#character_point_display').html());
            $.post(submit_url, {
                header_id: header_id,
                character_id: character_id,
                cp_available: cp_available,
            })
            .done((data) => {
                // We care getting the change in points back, so update the available points
                cp_available = parseInt($('#character_point_display').html());
                $('#character_point_display').html(cp_available + data.success);
                $header_group.append(data.skills);
                $(event.currentTarget).remove();
            })
            .fail((data) => {
                    showError("Error Adding Skill", data.responseJSON.error);
                console.log(data);
            });
            return false;
        });

        $('.header-group').on('click', '.update-skill', (event) => {
            event.preventDefault();
            if ($(event.currentTarget).prop('nodeName') == 'A') {
                updateSkill(
                    event.currentTarget,
                    {{ object.id }}
                );
            } else {
                updateInputSkill(
                    $(event.currentTarget).attr('href'),
                    $(event.currentTarget).data('skill-id'),
                    $(event.currentTarget).data('header-id'),
                    {{ object.id }},
                    $(event.currentTarget).data('original-purchased'),
                );
            }
        });
    </script>
{% endblock %}