{% extends "base.html" %}
{% load cms_tags %}


{% block bar_title %}Characters{% endblock bar_title %}
{% block title %}Characters{% endblock title %}

{% block content %}


<div class="row">
    <div id="character_list_filter" class="col-sm-7">
        <div class="box">
            <form method="GET">
            <p>Name: <input name="name" type="text" value="{{ request.GET.name }}" /></p>
            <p>Registered For:&nbsp;<select name="registered_for" id="registered_for">
              <option value="{{ event.id }}"{% if not request.GET.registered_for %} selected{% endif %}>---</option>
              {% for event in event_list %}
                <option value="{{ event.id }}"{% if request.GET.registered_for == event.id|floatformat:"0" %} selected{% endif %}>{{ event }}</option>
              {% endfor %}
            </select></p>
            <p>Attended:&nbsp;<select name="attended" id="attended">
              <option value="{{ event.id }}"{% if not request.GET.attended %} selected{% endif %}>---</option>
              {% for event in event_list %}
                <option value="{{ event.id }}"{% if request.GET.attended == event.id|floatformat:"0" %} selected{% endif %}>{{ event }}</option>
              {% endfor %}
            </select></p>
            <button id="player_list_filter_submit" class="btn btn-primary btn-submit" type="submit" name="search">Search</button>
            </form>
        </div>
    </div>
    <div id="character_list_actions" class="col-sm-5">
        <div class="box">
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% include "characters/includes/character_list.html" with objects=object_list id="character_list" caption="" %}
    </div>
</div>

{% include "includes/pagination.html" %}


{% endblock content %}