
table.list {
    width:100%;
    td {
        padding: 1em .25em;
        vertical-align: top;
    }
}

li.heading {
    margin-left:-1em;
}

.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.box {
    margin: 0.25em;
    padding: 1em;
    border: 1px solid $black;
    border-radius: 1em;
}

.content-align-right {
    text-align:right;
}
