input[type='checkbox'] {
	margin: 0 .5rem;
}

.data {
    td, th {
        padding:0.25em;
    }
    tr th:first-child {
        text-align:right;
        vertical-align: top;
    }
}

.point-input {
	width: 4rem;
}

.event-registration {
	h2 {
		margin-top:0;
	}
	td:first-child {
		vertical-align:top;
		padding: 0.25em 1.0em 0 0;
	}
}

#player_transfer_cp #id_amount {
	width:4em;
}
