.header-category {
	width: 100%;
}

.group {
	width: 100%;
}

.rule {
	padding: 1em 0.5em
}

.skill-point-display {
	width: 1rem;
}

.update-skill {
	text-decoration: none;
	padding: 0.075rem 0.15rem;
    margin: 0 0.15rem;
    line-height: 100%;
}

