.tabs {
  position: relative;   
  min-height: 100px; /* This part sucks */
  clear: both;
  margin: 25px 0;
  .delete-row {
    line-height: 2.25em;
    margin-left: 2em;
  }
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: .25em 1em; 
  border: 1px solid #ccc; 
  position: relative;
}
.tab [type=radio] {
  display: none;   
}
.tab-content {
  position: absolute;
  top: 2em;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
}