.heading {
  font-size: 1.3em;
  font-weight: 600; }

li.heading {
  list-style: none; }

table.list {
  width: 100%; }
  table.list td {
    padding: 1em .25em;
    vertical-align: top; }

li.heading {
  margin-left: -1em; }

.nav {
  padding-left: 0; }

.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px; }

.box {
  margin: 0.25em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 1em;
  position: relative; }

.item-navigation {
  margin-right: 0.25em; }

.content-align-right {
  text-align: right; }

.data td, .data th {
  padding: 0.25em; }

.data tr th:first-child {
  text-align: right;
  vertical-align: top; }

#player_transfer_cp #id_amount {
  width: 4em; }

#player_list_filter_submit {
  position: absolute;
  bottom: 1em;
  right: 1em; }

.list-characters td:first-child {
  width: 30%; }

.portrait {
  float: right; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }
