export PAYPAL_CLIENT_ID=AW3-LJicgmGWy41rMdkfml6yQwcTykbU_3qtoX6AvY1evR2GqC-C5ev3XU1g3WPloR4PZMNWs60cO_iE
export PAYPAL_CLIENT_SECRET=EDAydmM_lo4JKlAkI9rEoHUv1p3mcJDlCtxvVUTUuHkDnrYSYSn8fU8ZzcWJaqrUFsOrG4t9rJsE5lUI
