*.scssc
*.pyc
.DS_Store
.scss*
.sass-cache
.sass-cache/*
.virtualenv
ENV
npm-debug.log
passenger_wsgi.py
/talesofvalor/settings/local.py
/media/
/config/
/node_modules
/node_modules/*
package-lock.json
poetry.lock
Pipfile.lock