[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.0"
django-cms = "*"
fabric = "*"
djangocms-text-ckeditor = "*"
djangocms-file = "*"
djangocms-picture = "*"
djangocms-link = "*"
djangocms-style = "*"
djangocms-snippet = "*"
djangocms-video = "*"
djangorestframework = "*"
django-taggit = "*"
django-taggit-autosuggest = "*"
djangocms-page-tags = "*"
# mysqlclient = "*"
mysql-connector-python = "==8.0.30"
paypal-checkout-serversdk = "*"
selenium = "*"
mailosaur = "*"
names = "*"
wiki = {git = "https://github.com/django-wiki/django-wiki.git"}
django-hijack = "*"

[dev-packages]
autopep8 = "*"
black = "*"

[requires]
python_version = "3.9"
