{% extends "base.html" %}
{% load cms_tags %}

{% block title %}Rules{% endblock title %}

{% block content %}
<table id="rules_list" class="list list-rules">
<tr>
    <td class="table-navigation content-align-right" colspan="4">
        <a class="btn btn-primary" href="{% url 'rules:rule_create' %}">add skill rule</a>
    </td>
</tr>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>&nbsp;</th>
</tr>
    {% for rule in object_list %}
    <tr>
        <td>{{ rule }}</td>
        <td>{{ rule.description }}</td>
        <td>{{ rule.type }}</td>
        <td>
          <nav class="item-navigation">
              <a href="{% url 'rules:rule_update' pk=rule.id %}">Edit</a>
              <a href="{% url 'rules:rule_delete' pk=rule.id %}">Destroy</a>
          </nav>
        </td> 
    </tr>
    {% endfor %}
</table>


{% include "includes/pagination.html" %}

{% endblock content %}