{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}Event Registration{% endblock title %}

{% block content %}
{% for request in registration_requests %}
	<h2>{{ request.event_registration_item.name }} &mdash; ${{ request.cost }}</h2>
	{% if request.mealplan_flag%}(includes meal plan){% endif %}
	<div class="paypal-container" id="paypal-button-container_{{ request.id }}"></div>
{% endfor %}
<div class="hidden" id="paypal_wait_message">
	Loading request.  Please be patient . . . 
</div>
{% addtoblock "js" %}
<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID}} "></script>
{% comment %}

	Details of possible things we can add for the order
	https://developer.paypal.com/docs/api/orders/v2/#orders_create
{% endcomment %}
{% for request in registration_requests %}
	<script>paypal.Buttons({
	    createOrder: function(data, actions) {
	    	$(".paypal-container").fadeOut(function() {
	    		$("#paypal_wait_message").removeClass("hidden");
	    	});
			// This function sets up the details of the transaction, including the amount and line item details.
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: {{ request.event_registration_item.total }}
					},
					description: "{{ request.event_registration_item.name }}",
					custom_id: {{ request.id }}
				}]
			});
		},
		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				console.log(details);
				var url = '{% url 'registration:complete' %}';
				var $form = $('<form class="hidden" action="' + url + '" method="post">' + 
  					'{% csrf_token %}' +
				 	'<input type="text" name="order_id" value="' + data.orderID + '" />' +
				 	'</form>');
				$('body').append($form);
				$form.submit();
			});
		}
	}).render('#paypal-button-container_{{ request.id }}');</script>
{% endfor %}
{% endaddtoblock %}
{% endblock content %}