{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}Request on {{ object.requested|date:'m-d-Y'}} {% endblock title %}

{% block content %}

<h2><a href="{% url 'players:player_detail' username=object.player.user.username %}">{{ object.player.user.first_name }} {{ object.player.user.last_name }}</a></h2>

<table class="list">
<thead>
    <tr>
        <th colspan="2">Events registered for:</th>
    </tr>
</thead>
<tbody>

{% for event in object.event_registration_item.events.all %}
	<tr>
		<td><a href="{% url "events:event_detail" pk=event.pk %}">{{ event.name }}</a></td>
        <td>{{ event.event_date|date:'m-d-Y'}}</td>
    </tr>
{% endfor %}
</tbody>
</table>

<h3>Event Details</h3>
{% if perms.players.view_any_player or object.player.user is request.user %}
<p><strong>On-site Contact:</strong> {{ object.local_contact }}</p>
<p><strong>Mealplan?</strong> {% if object.mealplan_flag %}&#x2714;{% else %}&#x2717;{% endif %}</p>
<p><strong>Food allergies:</strong> {{ object.food_allergies }}</p>

<h3>Vehicle Info:<h3><br />
<p>
    <strong>Make:</strong>{{ object.vehicle_make }}<br />
    <strong>Model:</strong>{{ object.vehicle_model }}<br />
    <strong>Color:</strong>{{ object.vehicle_color }}<br />
    <strong>Registration:</strong>{{ object.vehicle_registration }}<br />
</p>
<h3><strong>Notes:</strong></h3>
<p>{{ object.notes }}</p>
{% endif %}

{% endblock content %}