{% extends "base.html" %}
{% load cms_tags sekizai_tags add_query_params %}

{% block title %}Registration Requests{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<table id="registrationrequest_list" class="list list-registrationrequest">
        <tr>
          <th>Request</th>
          <th>Events</th>
          <th>Pay at Door</th>
          <th>Already Paid</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
		    {% for request in object_list %}
        <tr>
            <td><a href="{% url 'registration:request_detail' pk=request.id %}">{{ request }}</td>
            <td>
              {% for event in request.event_registration_item.events.all %}
                <a href="{% url 'events:event_detail' pk=event.id %}">{{ event }}</a><br />
              {% endfor %}
            </td>
            <td>{% if request.pay_at_door_flag %}&check;{% endif %}</td>
            <td>{% if request.already_paid_flag %}&check;{% endif %}</td>
            <td>
              <form method="POST" action="{% url 'registration:request_approve' pk=request.id %}">{% csrf_token %}
                <button id="event_request_register" class="btn btn-primary btn-submit" type="submit" name="register">Register</button>
              </form>
            </td>
            <td>
              <form method="POST" action="{% url 'registration:request_deny' pk=request.id %}">{% csrf_token %}
                <button id="event_request_deny" class="btn btn-danger btn-submit" type="submit" name="register">Deny</button>
              </form>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No Requests Yet.</td></tr>
		    {% endfor %}
		</table>
	</div>
</div>

{% include "includes/pagination.html" %}

{% endblock content %}