{% extends "base.html" %}
{% load cms_tags %}

{% block bar_title %}{{ object }} : Origins{% endblock bar_title %}
{% block title %}{{ object }}{% endblock title %}

{% block content %}
   <h1>{{ object.name }}</h1>
{% if perms.origins.change %}
 <a class="btn btn-primary" href="{% url 'origins:origin_update' pk=object.id %}">edit</a>
{% endif %}
{% if not object.hidden %}
<p>Hidden</p>
{% endif %}
<p><strong>Type:</strong> {{ object.type }}
<h2>Description:</h2>
{{ object.description }}
<!--
-- Origins don't yet have skills, so commenting this out until it's needed later.
<h2>Skills</h2>
<ul>
    {% for rule in object.rules.all %}
    <li><a href="{% url 'skills:skill_detail' pk=rule.skill.id %}">{{ rule.skill }}</a>&mdash;{{ rule.count }}</li>
    {% endfor %}
</ul>
-->
{% endblock content %}
