table.list {
  width: 100%; }

.nav {
  padding-left: 0; }

.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px; }

.box {
  margin: 0.25em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 1em; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }
