// Third-party -- comes first so we can override it

// Modules and Variables
@import "modules/colors";
@import "modules/typography";
@import "modules/layout";
@import "modules/forms";
@import "modules/tabs";
@import "modules/player";
@import "modules/registration";
@import "modules/skill";
@import "modules/character";
@import "modules/utility";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin:0;
    padding:0;
}