{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block bar_title %}{% if object.name %}{{ object.name }}{% else %}Add Header{% endif %} : Headers{% endblock bar_title %}
{% block title %}{% if object.name %}{{ object.name }}{% else %}Add Header{% endif %} : Headers{% endblock title %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table class="data">
        {{ form.as_table }}
        <tr>
            <td colspan="2" class="text-right">
                <input class="btn btn-primary" type="submit" value="Update" />
                {% if object.id %}
                	<a href="{% url "skills:header_delete" pk=object.id %}" class="btn btn-danger">Delete</a></td>
                {% endif %}
            </td>
        </tr>
    </table>
    <div id="rule_formset"> 
        <h2>Grants</h2>
        {% if rule_formset.non_form_errors %}
        <ul class="errors">{{ rule_formset.non_form_errors }}</ul>
        {% endif %}
        <div class="alternating-container">
        {% for form in rule_formset %}
            <div class="rule">
            {{ form.id }}
            ( {{ form.name }} )
            Makes skill {{ form.skill }} cost {{ form.new_cost }} or {{ form.free }} free. <br /> Limit to {{ form.picks_remaining }} purchases. <br />
            {% if rule_formset.can_delete %}{{ form.DELETE }}{% endif %}
            </div>
        {% endfor %}
        </div>
        {{ rule_formset.management_form }}
    </div>
    <div id="prerequisite_formset"> 
        <h2>Requirements</h2>
        {% if prerequisite_formset.non_form_errors %}
        <ul class="errors">{{ prerequisite_formset.non_form_errors }}</ul>
        {% endif %}
        {% for form in prerequisite_formset %}
            <div class="prerequisite tabs">
                {{ form.id }}
                <div class="header-requirement tab">
                    <input type="radio" id="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-header" name="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-tab_group" {% if form.header.value %} checked{% endif%}>
                    <label for="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-header">Header</label>
                    <div class="tab-content">
                        Requires {{ form.points }} points in {{ form.number_of_different_skills}} different skills for {{ form.header }}
                    </div>
                </div>
                <div class="header-additional-requirement tab">
                    <input type="radio" id="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-additional-header" name="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-tab_group" {% if form.additional_header.value %} checked{% endif%}>
                    <label for="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-additional-header">Additional Header</label>
                    <div class="tab-content">
                        Requires Header {{ form.additional_header }}
                    </div>
                </div>
                <div class="skill-requirement tab">
                    <input type="radio" id="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-skill" name="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-tab_group"{% if form.skill.value %} checked{% endif%}>
                    <label for="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-skill">Skill</label>
                    <div class="tab-content">
                        Requires {{ form.number_of_purchases}} of {{ form.skill }}
                    </div>
                </div>
                <div class="origin-requirement tab">
                    <input type="radio" id="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-origin" name="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-tab_group"{% if form.origin.value %} checked{% endif%}>
                    <label for="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-origin">Origin</label>
                    <div class="tab-content">
                        Requires {{ form.origin }} to be available.
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ prerequisite_formset.management_form }}
    </div>
    <div id="prerequisite_group_formset"> 
        <h2>Requirements Groups</h2>
        {% if prerequisitegroup_formset.non_form_errors %}
        <ul class="errors">{{ prerequisitegroup_formset.non_form_errors }}</ul>
        {% endif %}
        {% for form in prerequisitegroup_formset %}
            <div class="prerequisite tabs">
                {{ form.id }}
                <div class="header-requirement tab">
                    <input type="radio" id="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-header" name="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-tab_group" {% if form.header.value %} checked{% endif%}>
                    <label for="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-header">Header</label>
                    <div class="tab-content">
                        Requires {{ form.points }} points in {{ form.number_of_different_skills}} different skills for {{ form.header }}
                    </div>
                </div>
                <div class="header-additional-requirement tab">
                    <input type="radio" id="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-additional-header" name="{{ prerequisite_formset.prefix }}-{{ forloop.counter0 }}-tab_group" {% if form.additional_header.value %} checked{% endif%}>
                    <label for="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-additional-header">Additional Header</label>
                    <div class="tab-content">
                        Requires Header {{ form.additional_header }}
                    </div>
                </div>
                <div class="skill-requirement tab">
                    <input type="radio" id="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-skill" name="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-tab_group"{% if form.skill.value %} checked{% endif%}>
                    <label for="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-skill">Skill</label>
                    <div class="tab-content">
                        Requires {{ form.number_of_purchases}} of {{ form.skill }}
                    </div>
                </div>
                <div class="origin-requirement tab">
                    <input type="radio" id="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-origin" name="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-tab_group"{% if form.origin.value %} checked{% endif%}>
                    <label for="{{ prerequisite_group_formset.prefix }}-{{ forloop.counter0 }}-origin">Origin</label>
                    <div class="tab-content">
                        Requires {{ form.origin }} to be available.
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ prerequisite_formset.management_form }}
    </div>
</form>

{% addtoblock "js" %}
<script type="text/javascript">
    $(function() {
        // Set up the formset to add nicely.
        $('#rule_formset .rule').formset({
            prefix: '{{ rule_formset.prefix }}',
            formCssClass: 'dynamic-{{ rule_formset.prefix }}',
            addCssClass: "add-row btn btn-primary"
            {% if rule_formset.initial_form_count > 0 %}, hideLastAddForm: true {% endif %}
        });
        $('#prerequisite_formset .prerequisite').formset({
            prefix: '{{ prerequisite_formset.prefix }}',
            formCssClass: 'dynamic-{{ prerequisite_formset.prefix }}',
            addCssClass: "add-row btn btn-primary",
            added: ($row) => {
                $row.find('.header-requirement.tab > input').first().prop('checked', true);
            }
            {% if prerequisite_formset.initial_form_count > 0 %}, hideLastAddForm: true {% endif %}
        });
        // Set up the tabs for the prerequisites.

    });
</script>
{% endaddtoblock %}

{% endblock content %}