{% extends "base.html" %}
{% load cms_tags %}


{% block bar_title %}Skills{% endblock bar_title %}
{% block title %}Skills{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-sm-4">
        <div class="box">
          <h3>Filters</h3>
          <form method="GET" action="">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary{% if request.GET.bgs_flag == '1' %} active{% endif %}"">
                <input type="checkbox" name="bgs_flag" id="bgs_flag" autocomplete="off" value="1"{% if request.GET.bgs_flag == '1' %} checked{% endif %}> BGS
              </label>
              <label class="btn btn-secondary{% if request.GET.hidden_flag == '1' %} active{% endif %}"">
                <input type="checkbox" name="hidden_flag" id="hidden_flag" autocomplete="off" value="1"{% if request.GET.hidden_flag == '1' %} checked{% endif %}> Hidden
              </label>
              <label class="btn btn-secondary{% if request.GET.unlinked_flag == '1' %} active{% endif %}"">
                <input type="checkbox" name="unlinked_flag" id="unlinked_flag" autocomplete="off" value="1"{% if request.GET.unlinked_flag == '1' %} checked{% endif %}> Unlinked
              </label>
            </div>
            <table class="data">
              <tr>
                <th><label for="name">Name:</label></th><td><input type="text" value="{{request.GET.name}}" name="name"/></td>
              </tr>
              <tr>
                <th><label for="description">Description:</label></th><td><input type="text" value="{{request.GET.description}}" name="description"/></td>
              </tr>
              <tr>
                <th>&nbsp;</th><td class="text-right"><input class="btn btn-primary" type="submit" name="submit" value="submit"/></td>
              </tr>
            </table>
        </form>

        </div>
    </div>
    <div class="col-sm-8">
        <div class="box text-right">
        <a class="btn btn-primary" href="{% url 'skills:skill_create' %}">add skill</a>
        </div>
    </div>
</div>


<div class="row col-sm-12">
<table class="list">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Header</th>
    <th>&nbsp;</th>
</tr>
{% for skill in object_list %}
<tr>
    <td><p><a href="{% url 'skills:skill_update' pk=skill.id %}">{{ skill.name }}</a></p></td>
    <td>{{ skill.description|truncatewords_html:10 }}</td>
    <td><p>{% for h in skill.header_set.all %}<a href="{% url 'skills:header_detail' pk=h.id %}">{{ h }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p></td>
    <td>
        <nav class="item-navigation">
            <a href="{% url 'skills:skill_update' pk=skill.id %}">Edit</a>
            <a href="{% url 'skills:skill_delete' pk=skill.id %}">Destroy</a>
        </nav>
    </td> 
</tr>
{% endfor %}
</table>
</div>

{% if is_paginated %}

<div class="row col-sm-12 text-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock content %}