{% extends "base.html" %}
{% load cms_tags comment_tags %}


{% block bar_title %}Between Game Skills{% endblock bar_title %}
{% block title %}Between Game Skills{% endblock title %}

{% block content %}

{% if character or event %}
<div class="row attributes bgs_attributes">
    <div id="bga_list_filter" class="col-sm-12">
        {% if event %}
            <h4>{{ event }}</h4>
        {% endif %}
        {% if character %}
            <h4>{{ character.player }} - {{ character }}</h4>
        {% endif %}
    </div>
</div>
{% endif %}
<div class="row">
    <div id="bga_list_filter" class="col-sm-7">
        <div class="box">
            <form method="GET">
            {% if perms.players.change_any_player %}
            <p>Filter: 
              <a href="{% url 'betweengameabilities:betweengameability_list' %}?assigned=0{% for key, value in request.GET.items %}{% if key != 'assigned' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">All</a> | 
              <a href="{% url 'betweengameabilities:betweengameability_list' %}?assigned=1{% for key, value in request.GET.items %}{% if key != 'assigned' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Assigned to Me</a>
            </p>
            <p>Name: <input name="name" type="text" value="{{ request.GET.name }}" /></p>
            {% endif %}
            <p>Event:&nbsp;<select name="event_id" id="event_id">
              <option value="0"{% if not event %} selected{% endif %}>---</option>
              {% for e in event_list %}
                <option value="{{ e.id }}"{% if e.id == event.id %} selected{% endif %}>{{ e }}</option>
              {% endfor %}
            </select></p>
            <button id="bga_list_filter_submit" class="btn btn-primary btn-submit" type="submit" name="search">Search</button>
            </form>
        </div>
    </div>
    <div id="bga_list_actions" class="col-sm-5">
        <div class="box">    
            <a href="{% url "betweengameabilities:betweengameability_create" %}?character_id={{ character.id}}&event_id={{event.id}}" class="btn btn-primary">Add Between Game Ability</a>
        </div>
    </div>
</div>

<div class="row attributes bgs_attributes">
<div id="bga_list_filter" class="col-sm-12">
{% for bga in object_list %}
<div class="list bga-item">
    <h3><a href="{% url 'betweengameabilities:betweengameability_detail' pk=bga.id %}">{{ bga.character }}</a>&nbsp;|&nbsp;{% if bga.non_ability_source_flag %}Non Ability Source{% else %}{{ bga.ability }}{% endif %}:&nbsp;{{ bga.count }}</h3>
    {% if perms.players.change_any_player %}
        <div class="bga-item-left bga-item-internal">
        <h5>Assigned To: {% if bga.assigned_to %}{{ bga.assigned_to }}{% endif %}</h5><br />
            <div class="bga-item-comment-inner">
                <h4>Comments</h4>
                {% comments_display bga %}
            </div>
        </div>
    {% endif %}
    <div class="bga-item-right bga-item-internal">
        <h4>Questions</h4>
        {{ bga.question|truncatewords_html:10 }}<br />
        {% if perms.players.change_any_player or not bga.answer %}
        <nav class="item-navigation">
            {% if bga.created_by == request.user.player %}
                <a href="{% url 'betweengameabilities:betweengameability_update' pk=bga.id %}">Edit</a>&nbsp;|&nbsp;
                <a href="{% url 'betweengameabilities:betweengameability_delete' pk=bga.id %}">Destroy</a>
            {% endif %}
        </nav>
        {% endif %}
        {% if bga.answer %}
        {% if perms.players.change_any_player or bga.created_by.user == request.user %}
            <hr />
            {{ bga.answer }}
        {% endif %}
        {% endif %}
        {% if perms.players.change_any_player and bga.tags.all %}
            <div class="tags-list bga-tags-list">
                <h4>Tags</h4>
                <div class=bga-tags-list-inner">
                    {% for tag in bga.tags.all %}
                        <a href="{% url 'services:tag_list' tag=tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endfor %}
{% if object_list%}
<a href="{% url "betweengameabilities:betweengameability_create" %}?character_id={{ character.id}}&event_id={{event.id}}" class="btn btn-primary">Add Between Game Ability</a>
{% endif %}



{% include "includes/pagination.html" %}
</div>
</div>
{% endblock content %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    {% comment_add %}
    </script>
{% endblock %}