<nav id="navigation_user" class="navigation-user">
{% if user.is_authenticated %}
<p>Player:<a class="indent" href="{% url 'players:player_detail' pk=user.pk %}">{{ user.player }}</a>&nbsp;<a class="indent" href="{% url 'players:player_update' pk=user.pk %}">(update)</a></p>
{% if user.player.active_character %}
<p>Character:&nbsp;<a class="indent" href="{% url 'characters:character_detail' pk=user.player.active_character.id %}">{{ user.player.active_character.name }}</a></p>
{% else %}
<p>Character:&nbsp;<a class="indent" href="{% url 'characters:character_create' %}">Add&nbsp;Character</a></p>
{% endif %}
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}
</nav>
