{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block bar_title %}{{ object.event }} | {{ object.event.attendance.character }} | {{ block.super }}{% endblock bar_title %}
{% block title %}{{ object.event }}{{ object.event.attendance.character }} | {{ object.event.attendance.character }}{% endblock title %}

{% block content %}

<p>Donations (time): {{ object.donations_time }} </p>

<p>Donations (props): {{ object.donations_props }} </p>

<p>Rating: {{ object.rating }} </p>

<p>Event Favorites: {{ object.favorites }} </p>

<p>Suggestions: {{ object.suggestions }} </p>

<p>Plans: {{ object.plans }} </p>

<p>Devout: {{ object.devout }} </p>

<p>New rule likes: {{ object.new_rule_likes }} </p>

<p>New rule dislikes: {{ object.new_rule_dislikes }} </p>

<p>Skills or spells learned: {{ object.learned }} </p>

<p>Heavy armor worn: {{ object.heavy_armor_worn_flag}} </p>

<p>What did you do: {{ object.what_did_you_do }} </p>

{% endblock content %}
