{% extends "base.html" %}
{% load cms_tags sekizai_tags add_query_params %}

{% block title %}PELs{% endblock title %}

{% block content %}

<div class="row">
    <div id="pel_list_filter" class="col-sm-7">
        <div class="box">
            <p>Filter:</p>
            <form method="GET">
            <p>Name: <input name="name" type="text" value="{{ request.GET.name }}" /></p>
            <p>Registered For:&nbsp;<select name="registered_for" id="registered_for">
              <option value="{{ event.id }}"{% if not request.GET.registered_for %} selected{% endif %}>---</option>
              {% for event in event_list %}
                <option value="{{ event.id }}"{% if request.GET.registered_for == event.id|floatformat:"0" %} selected{% endif %}>{{ event }}</option>
              {% endfor %}
            </select></p>
            <p>Attended:&nbsp;<select name="attended" id="attended">
              <option value="{{ event.id }}"{% if not request.GET.attended %} selected{% endif %}>---</option>
              {% for event in event_list %}
                <option value="{{ event.id }}"{% if request.GET.attended == event.id|floatformat:"0" %} selected{% endif %}>{{ event }}</option>
              {% endfor %}
            </select></p>
            <button id="player_list_filter_submit" class="btn btn-primary btn-submit" type="submit" name="search">Search</button>
            </form>
        </div>
    </div>
    <div id="pel_list_actions" class="col-sm-5">
    </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table id="player_list" class="list list-players">

        {% regroup object_list by event as pel_list %}
		    {% for event in pel_list %}
        <tr>
          <td colspan="2"><h2>{{ event.grouper }}</h2></td>
        </tr>
         <tr>
          <th>Player</th>
          <th>&nbsp;</th>
        </tr>
        {% for pel in event.list%}
          <tr>
              <td><a href="{% url 'players:player_detail' pk=pel.player.user.pk %}">{{ pel.player }}</a></td>
              <td><a href="{% url 'players:pel_detail' pk=pel.id %}">View</a></td>
          </tr>
        {% endfor %}
        {% empty %}
        <tr><td colspan="2">No PELs Yet.</td></tr>
		    {% endfor %}
		</table>
	</div>
</div>

{% include "includes/pagination.html" %}

{% endblock content %}