{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{ object.user.username }}{% endblock title %}

{% block content %}
    <div class="row">
        <div id="player_detail_character_update" class="col-sm-7">
            <div class="box">
                <p>CP Available: {{ object.cp_available }}</p>
                <form id="player_transfer_cp" method="POST">{% csrf_token %}Transfer {{ form.amount }} CP to {{ form.character }}<button id="player_detail_transfer_cp" class="btn btn-primary btn-submit" type="submit" name="transfer_cp">Transfer</button></form>
                <p><a href="{% url 'characters:character_create' %}?player={{ object.pk }}">New Character</a></p>
            </div>
        </div>
        <div id="player_detail_player_info" class="col-sm-5">
            <div class="box">
                <p>Name: {{ object }} </p>
                <p>Username: {{ object.user.username }}</p>
                <p>Email: {{ object.user.email }}</p>
                <p>Game Started: {{ object.game_started }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <hr />
        {% include "characters/includes/character_list.html" with objects=object.character_set.all id="player_detail_character_list" caption="Existing Characters" %}
        
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Future Events</h2>
            <ul>
            {% for event in future_event_list %}
                <li>{{ event }}{% if event.registration %} - <a href="{% url 'registration:detail' pk=event.registration.id %}">Registration</a><br />{% else %}&nbsp;{% endif %}{% if event.registration_request %} - <a href="{% url 'registration:request_detail' pk=event.registration_request.id %}">Registration Request</a><br />{% else %}&nbsp;{% endif %}<a href="{% url 'betweengameskills:betweengameskill_list' %}?event_id={{ event.id}}&player_id={{ object.pk }}">BGS</a></li>
            {% endfor %}
            </ul>
            <hr />
            <h2>Past Events</h2>
            <ul>
            {% for event in past_event_list %}
                <li>{{ event }}{% if event.registration %} - <a href="{% url 'registration:detail' pk=event.registration.id %}">Registration</a><br />{% else %}&nbsp;{% endif %}{% if event.registration_request %} - <a href="{% url 'registration:request_detail' pk=event.registration_request.id %}">Registration Request</a><br />{% else %}&nbsp;{% endif %}<a href="{% url 'players:pel_redirect' event_id=event.id player_id=object.pk %}">PEL</a> - <a href="{% url 'betweengameskills:betweengameskill_list' %}?event_id={{ event.id}}&player_id={{ object.pk }}">BGS</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}