{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{ object.user.username }}{% endblock title %}

{% block content %}
    <div class="row">
        <div id="player_detail_character_update" class="col-sm-7">
            <div class="box">
                <p>CP Available: {{ object.cp_available }}</p>
                <p>Transfer CP to character list</p>
                <p><a href="{% url "characters:character_create" %}?player={{ object.pk }}">New Character</a></p>
            </div>
        </div>
        <div id="player_detail_player_info" class="col-sm-5">
            <div class="box">
                <p>Username: {{ object.user.username }}</p>
                <p>Email: {{ object.user.email }}</p>
                <p>Game Started: {{ object.game_started }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <hr />
        <table id="player_detail_character_list" class="list list-characters">
            <caption>Existing Characters</caption>
            {% for character in object.character_set.all %}
            <tr>
                <td>{{ character.name }}</td>
                <td>Blah table</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
This is where the player stuff will go.
{% endblock content %}