{% extends "base.html" %}
{% load cms_tags %}

{% block title %}Players{% endblock title %}

{% block content %}

<div class="row">
    <div id="player_list_filter" class="col-sm-7">
        <div class="box">
            <p>Filter: All | Players | Staff | Admin | Selected</p>
            <p>Name: <input type="text" /></p>
            <p>Regsitered For:</p>
            <p>Attended:</p>
        </div>
    </div>
    <div id="player_list_actions" class="col-sm-5">
        <div class="box">
            <p>Select Filtered | Unselect All</p>
            <p>Bulk Email</p>
            <p>Bulk Grant CP</p>
            <p><button>Register Selected</button></p>
            <p><button>Mark Selected as Attended</button></p>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
		<table id="player_list" class="list list-players">
        <tr>
          <th>&check;</th>
          <th>Player</th>
          <th>Active Character</th>
          <th>Type</th>
          <th>Edit</th>
          <th>Destroy</th>
          <th>Assign</th><!-- this should be moved to a character list -->
        </tr>
		    {% for player in object_list %}
        <tr>
            <td><input type="checkbox" name="player_select" value="{{ player.id }}"></td>
            <td><a href="{% url 'players:player_detail' username=player.user.username %}">{{ player }}</td>
            <td>
              {% if player.active_character %}
                <a href="{% url 'characters:character_detail' pk=player.active_character.id %}">{{ player.active_character }}</a>
              {% endif %}
            </td>
            <td>{{ player.user.username }}</td>
            <td><a href="{% url 'players:player_update' username=player.user.username %}">Edit</a></td>
            <td><a href="{% url 'players:player_delete' username=player.user.username %}">Destroy</a></td>
            <td>Assign{% comment %} <a href="{% url players:player_reassign username=player.user.username %}">Assign</a> {% endcomment %}</td><!-- this should be moved to a character list -->
        </tr>
        {% empty %}
        <tr><td colspan="2">No Players Yet.</td></tr>
		    {% endfor %}
		</table>
	</div>
</div>



{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}