{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{{ object.name }} | {{ object.event_date }}{% endblock title %}

{% block content %}


<a href="{% url "events:register" pk=event.pk %}">Register for this event &hellip;</a>

<p><strong>Event Date:</strong>{{ object.event_date|date:'m-d-Y'}}</p>

{% if object.summary %}
<h2>Summary</h2>
{{ object.summary }}
{% endif %}

<h2>Important Information</h2>
{{ object.notes }}

<h2>Registered Players</h2>
{% for registration in object.registration_set.all %}
{{ registration }}<br />
{% endfor %}

{% endblock content %}