{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{{ object.name }} | {{ object.event_date }}{% endblock title %}

{% block content %}



<h2><strong>Event Date:</strong>  {{ object.event_date|date:'m-d-Y'}}</h2>

{% if existing_registration %}
	<a href="{% url "registration:detail" pk=existing_registration.pk %}"><strong>You are registered for this event!</strong></a>
{% elif existing_registration_request %}
	<a href="{% url "registration:request_detail" pk=existing_registration_request.pk %}">You're <strong>requested a registration</strong> for this event.</a>
{% else %}
	<a href="{% url "events:register" pk=event.pk %}">Register for this event &hellip;</a>
{% endif %}

{% if object.summary %}
<h2>Summary</h2>
{{ object.summary }}
{% endif %}

{% if object.notes %}
<h2>Important Information</h2>
{{ object.notes }}
{% endif %}

{% if perms.players.view_any_player %}
<h2>Registered Players</h2>

<table class="list">
	<tr>
		<th>Name</th>
		<th>&nbsp;</th>
		<th>Date</th>
		<th colspan="3"></th>
	</tr>
{% for registration in object.registration_set.all %}
    <tr>
        <td><a href="{% url "registration:detail" pk=registration.pk %}">{{ registration }}</a></td>
        <td>{% if registration.registration_type == 'cast'%}CAST{% endif %}</td>
        <td>{{ event.event_date|date:'m-d-Y'}}</td>
        <td>{% comment %}<a class="btn btn-danger" href="{% url "registration:unregister" pk=registration.pk %}">remove&nbsp;registration</a>{% endcomment %}</td>
    </tr>
{% endfor %}
</table>

{% endif %}
{% endblock content %}